.App {
	font-family: sans-serif;
	text-align: center;
}
html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
.leaflet-container {
	position: absolute;

	height: 100%;
	width: 100%;
}
#root {
	width: 100%;
	height: 100%;
}
#map-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
.leaflet-interactive{
	transition: .5s ease-in-out;
	outline: none;
	fill-opacity: 0;
	transform: translate3d(0px, 0px, 0px);
}
.leaflet-interactive:hover{
	fill-opacity: 0.5;
	transform: translate3d(0, -10px, -10px);
}

.leaflet-marker-icon:not(.leaflet-marker-icon[src="/pole-emploi-logo-vector.svg"]):hover{
	opacity: 0.8;
	animation: bounce 0.7s ease infinite;
}
@keyframes bounce{
	from {translate: 0px;}
	50%  {translate: 0 -10px;}
	to   {translate: 0px;}
}
	
/* .leaflet-div-icon {
  background: transparent;
  border: none;
} */


.res{
	background: #000;
}